<div class="border">

  <h3><%= link_to wine.name, wine %><%= ", #{wine.variety.name}" %></h3>
  <h4><%= link_to wine.winery.name, wine.winery %></h4>
  <p>Price: <%= number_to_currency wine.price %></p>
  <p><%= wine.description %></p>
  <% wine_order = cart.find{|x| x["wine_id"] == wine.id} %>
  <% if wine_order %>
    <%= form_with url: cart_path(wine), method: :patch do |f| %>
      <%= f.select :quantity, (1..200), :selected => wine_order["quantity"] %>
      <%= button_tag 'Update order' %>
    <% end %>
    <%= button_to cart_path(wine), method: :delete do %>
      Remove from cart
    <% end %>
  <% else %>
    <%= form_with url: customer_signed_in? ? cart_index_path : customer_session_path, method: :post do |f| %>
      <%= hidden_field_tag(:id, wine.id) %>
      <%= f.select :quantity, (1..200) %>
      <%= button_tag 'Add to Cart', class: "btn btn-success" %>
    <% end %>
  <% end %>
</div>